<div class="row gv-5">
  <div class="col-12">
    <p class="name reenie-beanie">About me</p>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="row">
      <div class="col-6">
        <img class="rounded-circle" height="180px" src="assets/img/about/vic-park-race-1.jpg">
        <img class="rounded-circle" height="180px" src="assets/img/about/tramping.jpg">
      </div>
      <div class="col-6">
        <img class="rounded-circle" height="180px" src="assets/img/about/buddy.jpg">
        <img class="rounded-circle" height="180px" src="assets/img/about/crater-rim-1.jpg">
      </div>
    </div>
  </div>
</div>
