<div class="row gv-5">
  <div class="col-12">
    <p class="subtitle reenie-beanie">Experience</p>
  </div>
</div>
<div class="row mb-5">
  <!-- <div class="col-2 mr-3">
    <img class="img-border rounded" height="125px" src="assets/img/experience/uccser-logo.png">
  </div> -->
  <div class="col-12">
    <p>University of Canterbury Computer Science Education Research Group</p>
    <p class="text">
      Nec res una proinde chartam requiri quaenam confuse. De ea se tamquam haberet exempli memores ipsarum ob. Earum se athei vi erunt. Si ad exhibent reperiri perpauca ab physicam invenero. Veluti unquam loquar easdem sua errare fas imo. Clara harum ipsis tamen ac ha longa co at mente. Ii si videretur ac contineri occurrere remanetne deleantur. Istam nomen in lucis ab donum volui quare. 
    </p>
  </div>
</div>
<div class="row mb-5">
  <!-- <div class="col-3">
    <img class="img-border rounded" height="125px" src="assets/img/experience/tm-squarelogo.png">
  </div> -->
  <div class="col-12">
    <p>Trade Me</p>
    <p class="text">
      Nec res una proinde chartam requiri quaenam confuse. De ea se tamquam haberet exempli memores ipsarum ob. Earum se athei vi erunt. Si ad exhibent reperiri perpauca ab physicam invenero. Veluti unquam loquar easdem sua errare fas imo. Clara harum ipsis tamen ac ha longa co at mente. Ii si videretur ac contineri occurrere remanetne deleantur. Istam nomen in lucis ab donum volui quare. 
    </p>
  </div>
</div>
