<nav class="navbar navbar-top navbar-expand">
  <a class="navbar-brand" href="#">
    <img src="/assets/img/logo-gradient-blue.svg" class="logo">
  </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Experience</a>
      </li>
      <span>-</span>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <span>-</span>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>