---
---

body {
  font-family: Inter, sans-serif;
  background-color: #09090b;
  color: white;
  margin: 0; 
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  text-align: left;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-right: var(--tmb-scrollbar-width);
  overflow-x: hidden;
  overflow-y: initial;
  word-break: break-word;
}

.name {
  font-size: 2em;
}

.logo {
  height: 42px;
}

.reenie-beanie {
  font-family: 'Reenie Beanie', sans-serif;
}

.subtitle {
  font-size: 3em;
  font-weight: 500;
}

.navbar {
  background-color: #09090b;
  font-family: 'Reenie Beanie', sans-serif;
  font-size: 28px;
  flex: 1;
  margin: auto !important;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  font-size: 22px;
  color: white;
}

.nav-link:hover {
  color: #6057f9;
}

.pb-130 {
  padding-bottom: 130px !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.row.gv-5 {
  margin-top: -100px;
}

.row.gh-1 {
  margin-left: -30px;
}

.content-wrap {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  z-index: 1;
}

.row.gv-5>[class*=col] {
  padding-top: 100px;
}

.row.gh-1>[class*=col] {
  padding-left: 30px;
}

@media (max-width: 827.98px) {
  .container, .container-fluid,
  .container-lg, .container-md,
  .container-sm, .container-xl {
    padding-right: 40px !important;
    padding-left: 40px !important;
  }
}
